<div *ngIf="shipment">
	<h4>{{shipment.id}} details!</h4>
	<div>
		<label>pickupdate: </label>{{shipment.pickupDate}}
	</div>
	<div>
		<label>deliverydate: </label>{{shipment.deliveryDate}}
	</div>
	<div>
		<label>origin: </label>{{shipment.origin}}
	</div>
	<div>
		<label>destination: </label>{{shipment.destination}}
	</div>
	<div>
		<label>carrier: </label>{{shipment.carrier}}
	</div>
	<div>
		<label>commodity: </label>{{shipment.commodity}}
	</div>
	<div>
		<label>weight: </label>{{shipment.weight}}
	</div>
</div>